@using MEYPAK.Entity.PocoModels.STOK

@model PocoHIZMET

<div class="col-lg-6">
    <div class="card">

        <div class="card-body">
           
            <div id="pay-invoice">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center">Stok Ekle</h3>
                    </div>
                    <hr>
                    <form asp-controller="Stok" asp-action="HizmetEkle" method="post">
                        @{
                            PocoHIZMET aa = new PocoHIZMET();
                            foreach (var item2 in aa.GetType().GetProperties())
                            {
                                string typename = item2.PropertyType.Name;

                                if (typename == "Int32" || typename == "Decimal" || typename == "Byte")
                                {
                                    <div class="form-group">
                                        <label class="control-label mb-1">@item2.Name :</label>
                                        <input type="number" name="@item2.Name" class="form-control" />
                                    </div>
                                }
                                else if (typename == "String")
                                {
                                    <div class="form-group">
                                        <label class="control-label mb-1">@item2.Name :</label>
                                        <input type="text" name="@item2.Name" class="form-control" />
                                    </div>
                                }
                                else if (typename == "DateTime")
                                {
                                    <div class="form-group">
                                        <label class="control-label mb-1">@item2.Name :</label>
                                        <input type="datetime" name="@item2.Name" class="form-control" />
                                    </div>
                                }
                            }
                        }
                        <div>
                            <input type="submit" value="KAYIT OL" class="btn btn-lg btn-info btn-block" />
                            @*<span id="payment-button-sending" style="display:none;">Sending…</span>*@

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- .card -->